/*body {
    margin: 0;

    height			: 100%;
    background-color  : #2B2B2B;
    overflow          : hidden;
}*/

#root {
    /*background-color: #2B2B2B;*/

    margin            : 0;
    height			: 100%;

    overflow          : hidden;
}

#boardContainer {
    position			: fixed;
    top				: 0;
    left				: 0;
    bottom			: 0;
    right				: 0;
    z-index			: -1;

    overflow          : hidden;
}

#Map {
    display			: flex;
    background-color  : #2B2B2B;
    width			    : 100%;
    height			: 100%;
}

/*g image:hover {
    opacity: 0.0;
}*/

circle.entity {
    fill-opacity		: 0.5;
}

/*g text {
    pointer-events	    : none; *//*Makes SVG text not selectable*/
    /*text-anchor		    : middle;
    dominant-baseline	    : middle; *//*VS Code says that this is an unknown property even though it works?*/
    /*fill				    : black;*/

    /*Prevent text from being marked*/
    /*-webkit-user-select   : none;
    -moz-user-select	    : none;
    -ms-user-select		: none;
    user-select			: none;
}*/

/*g circle {
    stroke-width: 0.4;
}*/




/*@media (orientation: landscape) {
  #Map {
    width			: 100%;
  }
}

@media (orientation: portrait) {
  #Map {
    height			: 100%;
  }
}*/