div.contextMenuContainer {
    /*background-color    : rgba(72, 105, 126, 0.5);*/
    width			    : 400px;
    height			    : 400px;

    padding: 50px;

    /*border              : 2px solid rgba(0, 0, 0, 0.5);
    border-radius		: 100%;*/

    text-align: center;
    vertical-align: middle;
    justify-content: center;

    position		: absolute;
    z-index			: 1;
}

div.contextMenu {
    background-color    : rgba(72, 105, 126, 0.5);
    width			    : 400px;
    height			    : 400px;

    margin: 50px;

    border              : 2px solid rgba(0, 0, 0, 0.5);
    border-radius		: 100%;

    text-align: center;
    vertical-align: middle;
    justify-content: center;

    position		: absolute;
    z-index			: 1;
}

div.contextMenuItem {
    background-color    : rgba(70, 58, 58, 0.9);
    width			    : 100px;
    height			    : 100px;

    opacity: 1;

    border              : 2px solid rgba(0, 0, 0, 0.9);
    border-radius		: 100%;

    text-align: center;
    vertical-align: middle;
    justify-content: center;

    position		: absolute;
    z-index			: 1;
}

p.contextMenuItem {
    margin-top: 40%;

    /*Prevent text from being marked*/
    -webkit-user-select : none;
    -moz-user-select	: none;
    -ms-user-select		: none;
    user-select			: none;
}